<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "com.birouldeachizitii.s"
		versionCode=""
		version   = "2016-1">
		<name>012 Cumparare directa</name>
		<description>www.Biroul-de-Achizitii.Ro</description>
		<author href="www.Biroul-de-Achizitii.Ro" email="contact@birouldeachizitii.ro">Biroul de Achizitii .Ro</author>
		<preference name="permissions" value="none"/>
	</widget>