<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "com.birouldeachizitii.s"
	versionCode="201512262325"
	version   = "2015.02.25">
	<name>012 Cumparare directa</name>
	<description>www.Biroul-de-Achizitii.Ro</description>
	<author href="www.Biroul-de-Achizitii.Ro" email="contact@birouldeachizitii.ro">Biroul de Achizitii .Ro</author>
<preference name="permissions" value="none"/>
<preference name="phonegap-version" value="cli-5.2.0" />
	<preference name="fullscreen" value="true" />
	
	
	<gap:platform name="ios" />
	<gap:platform name="android" />
	<gap:platform name="winphone" />
</widget>
